//
// MeAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class MeAPI {

    /**
     The authenticated user's identity, permissions and enabled modules
     
     - returns: MeResponse
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func getMe() async throws -> MeResponse {
        return try await getMeWithRequestBuilder().execute().body
    }

    /**
     The authenticated user's identity, permissions and enabled modules
     - GET /v1/me
     - Called on every cold start. Drives the navigation shell, so it returns enabled modules and effective permissions together — the client should never have to assemble that from several calls before it can render. 
     - Bearer Token:
       - type: http
       - name: bearerAuth
     - returns: RequestBuilder<MeResponse> 
     */
    open class func getMeWithRequestBuilder() -> RequestBuilder<MeResponse> {
        let localVariablePath = "/v1/me"
        let localVariableURLString = HRClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<MeResponse>.Type = HRClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: true)
    }
}
