//
// MobileAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class MobileAPI {

    /**
     Mobile home screen composite
     
     - returns: MobileHomeResponse
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func getMobileHome() async throws -> MobileHomeResponse {
        return try await getMobileHomeWithRequestBuilder().execute().body
    }

    /**
     Mobile home screen composite
     - GET /v1/mobile/home
     - Single-trip composite endpoint delivering role-based dashboard cards, pending approval counts with counted entity identities for offline outbox reconciliation, company announcements, and milestone reminders. 
     - Bearer Token:
       - type: http
       - name: bearerAuth
     - returns: RequestBuilder<MobileHomeResponse> 
     */
    open class func getMobileHomeWithRequestBuilder() -> RequestBuilder<MobileHomeResponse> {
        let localVariablePath = "/v1/mobile/home"
        let localVariableURLString = HRClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<MobileHomeResponse>.Type = HRClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: true)
    }
}
