openapi: 3.1.0

info:
  title: HR Platform API
  version: 1.0.0-alpha.1
  description: |
    Multi-tenant HR platform API.

    **This specification is the contract.** Server interfaces and the Kotlin, Swift and TypeScript
    clients are all generated from it, and a breaking change to a published version fails CI.
    See `docs/03-architecture.md` §9.

    ## Tenancy

    Every request is resolved to exactly one tenant. Precedence, highest first:

    1. The `tenant_id` claim in the bearer token — authoritative once authenticated.
    2. The `X-Tenant-Code` header — for the unauthenticated login and org-resolve endpoints.
    3. The request subdomain.

    Supplying a token and a conflicting `X-Tenant-Code` is rejected with `TENANT_MISMATCH`.

    ## Errors

    Every non-2xx response uses one envelope. Clients localise from the machine-readable `code`,
    never from `message` — the server cannot reliably know the caller's locale, and we ship in
    six languages.

    ## Pagination

    Cursor-based everywhere. Offset pagination is not offered on tenant-scoped collections: it
    re-scans skipped rows and silently drops and duplicates records on concurrently-written
    tables such as attendance and audit.

    ## Idempotency

    Every unsafe method accepts an `Idempotency-Key` header and it is **required** for endpoints
    the mobile outbox can replay. A repeat of a key already processed returns the original
    response rather than applying the operation twice.
  contact:
    name: HR Platform Engineering
  license:
    name: Proprietary
    # OpenAPI 3.1 expects an SPDX expression here. There is no SPDX code for "all rights
    # reserved", so the spec's own LicenseRef- escape hatch is the correct form.
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.hrapp.io
    description: Production
  - url: https://staging-api.hrapp.io
    description: Staging
  - url: http://localhost:8080
    description: Local

tags:
  - name: Authentication
    description: Tenant resolution, sign-in, token lifecycle, device registration
  - name: Tenancy
    description: Customer organisations, isolation tiers, and module enablement
  - name: Roles
    description: Role-based access control and system permissions catalogue
  - name: Users
    description: User account administration, lifecycle, password reset, and device management
  # The Sync tag and GET /v1/sync are deliberately absent until the endpoint exists (P0-BE-33).
  # A documented-but-unimplemented operation ships a generated client method that 404s, which is
  # exactly the drift ApiContractTest prevents. It returns here with its implementation.
  - name: Directory
    description: Employee directory and reporting hierarchy
  - name: Employees
    description: Employee profiles, with per-field permissions applied server-side
  - name: Reference
    description: Reference taxonomies — configurable lookup lists
  - name: Forms
    description: Server-rendered form schemas — how a tenant-defined field reaches mobile without an app release
  - name: Me
    description: The authenticated user's own context
  - name: Mobile
    description: Mobile home composite and client-optimised aggregation endpoints
  - name: Attendance
    description: Attendance check-in/out, geofence audit, and shift status
  - name: Approvals
    description: Manager unified approval inbox for leave, attendance regularisation, and workflows
  - name: Expenses
    description: Multi-line expense claims, receipt OCR extraction, and policy compliance
  - name: Benefits
    description: Flexible benefits, health insurance coverage, policy catalogues, and claim reimbursements
  - name: Onboarding
    description: Employee onboarding tracks, milestones, and multi-role action checklists
  - name: Offboarding
    description: Resignation notices, cross-departmental clearance workflows, and exit interviews
  - name: Documents
    description: Enterprise document vault, company policies, multi-versioning, and template letter requests
  - name: Signatures
    description: Legally compliant digital e-signatures, signer progression, and SHA-256 audit trails
  - name: Training
    description: Enterprise learning management, training catalogue, batch schedules, enrollments, attendance, and digital certificates
  - name: Timesheets
    description: Enterprise project timesheets, activity billing, weekly matrix logging, and attendance reconciliation
  - name: Loans
    description: Employee loan types, eligibility simulation, loan applications, and settlement calculations
  - name: Lifecycle
    description: Career movements, promotions, transfers, salary increments, and timeline audit
  - name: Grievance
    description: Formal employee grievances, submission channels, dispute grounds, and appeals
  - name: Disciplinary
    description: Disciplinary incident tracking, warnings, corrective actions, hearings, and appeals
  - name: Performance
    description: Objectives and key results (OKRs), competency evaluations, multi-rater appraisals, and feedback
  - name: Recruitment
    description: Requisitions, vacancy listings, applicant tracking, interview scorecards, and job offers
  - name: Payroll
    description: Payroll cycles, pay groups, gross-to-net computation, run variance, and bank advice export
  - name: Leave
    description: Statutory and company leave policies, balance tracking, applications, and ledger movements
  - name: Dashboard
    description: Role-adaptive composite dashboard with widgets and quick actions




security:
  - bearerAuth: []

paths:
  /v1/auth/resolve-tenant:
    post:
      tags: [Authentication]
      summary: Resolve an organisation from a work email or org code
      description: |
        The first step of sign-in. Deliberately does **not** reveal whether a user account exists —
        it resolves the organisation only, so this endpoint cannot be used to enumerate accounts.

        This replaces asking the user to type a "service URL", which is a common source of
        support load in comparable products.
      operationId: resolveTenant
      security: []
      parameters:
        # Required: the tenant is resolved by the server's request filter from this header (or
        # from the subdomain). Send the same value as `orgCode` in the body.
        - $ref: '#/components/parameters/TenantCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveTenantRequest'
      responses:
        '200':
          description: Organisation resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveTenantResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/auth/token:
    post:
      tags: [Authentication]
      summary: Sign in with a password
      description: |
        Exchanges credentials for an access and refresh token pair, and registers the calling
        device in the same round trip so the client can offer biometric enrolment immediately.

        Failures are deliberately uniform: a wrong password and an unknown username both return
        `INVALID_CREDENTIALS`, so this endpoint cannot be used to enumerate accounts. Repeated
        failures lock the account per the tenant's password policy.
      operationId: issueToken
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordGrantRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: |
            Invalid credentials, or MFA is required. `MFA_REQUIRED` carries an `mfaToken` in
            `details` which must be presented to `/v1/auth/mfa/verify`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/auth/token/refresh:
    post:
      tags: [Authentication]
      summary: Exchange a refresh token for a new access token
      description: |
        Refresh tokens are single-use and rotate on every exchange.

        If a token that has already been used is presented again, the most likely explanation is
        theft, so the entire token family is revoked and every device sharing that login session
        must re-authenticate. The response is `TOKEN_REUSE_DETECTED`.

        Requires `X-Tenant-Code`: the token lookup is itself tenant-scoped by row-level security,
        so the tenant must be known before the token can be found.
      operationId: refreshToken
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Rotated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/auth/token/biometric:
    post:
      tags: [Authentication]
      summary: Exchange a device-sealed refresh token after a biometric assertion
      description: |
        The core of the "no password after enrolment" experience.

        The refresh token is sealed at enrolment in the device's Android Keystore or iOS Secure
        Enclave under a key that requires user authentication. The OS releases it only after a
        successful fingerprint or face match, and invalidates the key entirely if the device's
        enrolled biometrics change.

        The server therefore trusts the *presentation* of the sealed token as evidence that the
        biometric check passed — it never receives or stores biometric data itself.

        Two conditions beyond a normal refresh: the token must have been issued to the device
        presenting it, and that device must have completed biometric enrolment. Together these
        stop a token exfiltrated from one device being replayed from another.
      operationId: biometricToken
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BiometricGrantRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Device revoked, or re-authentication with a password is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'

  /v1/auth/devices:
    get:
      tags: [Authentication]
      summary: List the current user's registered devices
      description: |
        Powers the "where am I signed in?" screen. The device making the request is flagged with
        `current: true` so the client can avoid offering the user a way to revoke themselves
        without warning.
      operationId: listDevices
      responses:
        '200':
          description: Devices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
    post:
      tags: [Authentication]
      summary: Register the current device
      description: |
        Registers or updates a device for the authenticated user, including its push token.

        Called on sign-in and again whenever the push token rotates. Idempotent on
        `(user, deviceId)`: re-registering an existing device updates it rather than creating a
        duplicate.
      operationId: registerDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '201':
          description: Registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'

  /v1/auth/devices/{id}:
    delete:
      tags: [Authentication]
      summary: Revoke a device
      description: |
        Revokes the device and every refresh token bound to it. Takes effect immediately for
        refresh and biometric grants; an access token already issued remains valid until it
        expires, at most fifteen minutes.

        Note the parameter is the device record's `id` (a UUID), not its `deviceId` (the
        client-generated string). The two are distinct and naming the path variable `deviceId`
        was actively misleading.
      operationId: revokeDevice
      parameters:
        - name: id
          in: path
          required: true
          description: The device record's UUID, as returned by `GET /v1/auth/devices`.
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Revoked
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/auth/logout:
    post:
      tags: [Authentication]
      summary: Sign out
      description: |
        Revokes the token family the presented refresh token belongs to. Other devices stay signed
        in — signing a user out everywhere is a separate, deliberate action.

        The body is optional. Without it the caller's entire set of sessions is revoked, which is
        the correct fallback when a client has lost track of its refresh token.

        Never fails: sign-out is idempotent and a client must always be able to end its session.
      operationId: logout
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '204':
          description: Signed out

  /v1/auth/mfa/verify:
    post:
      tags: [Authentication]
      summary: Complete a sign-in with a second factor
      description: |
        The second half of a password sign-in. Called after `/v1/auth/token` answers
        `401 MFA_REQUIRED` with an `mfaToken` in `details`.

        Accepts either a TOTP code or a recovery code — the user cannot always tell you which they
        are holding, and making them choose adds a decision at the worst possible moment. A
        recovery code is consumed on use.

        The challenge token goes in the **body**, not the `Authorization` header: it is not a
        bearer token for this API, and putting it there invites proxies and client libraries to
        treat it as one. It carries no roles and no employee id, so even if something did accept it
        as a session it would grant nothing.

        Every failure — wrong code, spent recovery code, account without a second factor — returns
        the same `MFA_INVALID_CODE`. Distinguishing them would tell whoever holds the challenge
        which case they are in.
      operationId: verifyMfa
      security: []
      parameters:
        - $ref: '#/components/parameters/TenantCode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaVerifyRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/auth/mfa:
    get:
      tags: [Authentication]
      summary: Whether a second factor is enrolled
      description: |
        Drives the security settings screen: whether to offer enrolment, resume a half-finished
        one, or warn that recovery codes are running low.
      operationId: getMfaStatus
      responses:
        '200':
          description: Current state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaStatus'

  /v1/auth/mfa/enrol:
    post:
      tags: [Authentication]
      summary: Begin enrolment — returns a secret and a QR payload
      description: |
        Issues a TOTP secret and the `otpauth://` URI an authenticator app reads from a QR code.
        The secret is stored immediately but **MFA is not switched on** until
        `/v1/auth/mfa/enrol/confirm` succeeds.

        Two steps rather than one deliberately: a user who mis-scans, or scans into an app they
        then delete, would otherwise lock themselves out of their own account with no route back
        except an administrator — which is a support call and a social-engineering path straight
        past the factor. Calling this again replaces the pending secret, which is what someone does
        after scanning into the wrong app.
      operationId: beginMfaEnrolment
      responses:
        '200':
          description: Enrolment started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaEnrolment'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/auth/mfa/enrol/confirm:
    post:
      tags: [Authentication]
      summary: Confirm enrolment with a code from the authenticator
      description: |
        Proves the app and the server agree before anything depends on it, then switches MFA on.

        **Returns the recovery codes, and this is the only time they exist in plaintext.** They are
        stored as hashes, so neither the server nor a database backup can produce them again. A
        client that does not show them here has lost them for that user.
      operationId: confirmMfaEnrolment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaCodeRequest'
      responses:
        '200':
          description: Enrolled — show these codes once
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryCodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/auth/mfa/disable:
    post:
      tags: [Authentication]
      summary: Turn the second factor off
      description: |
        Requires a current code — possession, not just a live session. Without that, anyone who
        borrowed an unlocked laptop could switch the factor off from a settings screen, which makes
        having it decorative.
      operationId: disableMfa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaCodeRequest'
      responses:
        '204':
          description: Disabled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/auth/mfa/recovery-codes:
    post:
      tags: [Authentication]
      summary: Issue a fresh set of recovery codes
      description: |
        Invalidates every existing code. Requires a current code, for the same reason as disabling.
      operationId: regenerateRecoveryCodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaCodeRequest'
      responses:
        '200':
          description: New codes — show these once
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoveryCodesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /v1/auth/.well-known/jwks.json:
    get:
      tags: [Authentication]
      summary: Public JSON Web Key Set
      description: |
        The public half of the key used to sign access tokens, so that other services, an API
        gateway or a third-party integration can verify our tokens without holding any credential
        of their own.

        The application itself does not call this endpoint — it verifies with the in-process
        public key rather than issuing an HTTP request to itself.

        During a key rotation window this returns both the outgoing and incoming keys, so tokens
        signed with either continue to verify.
      operationId: getJwks
      security: []
      responses:
        '200':
          description: JWK set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JwkSet'

  /v1/directory/search:
    get:
      tags: [Directory]
      summary: Search the employee directory
      description: |
        Available to every authenticated employee — finding a colleague's extension is not a
        privileged operation, and gating it would mean most of the workforce could not use the
        feature they open most often.

        What makes that safe is what the response omits. Salary, bank details, identity documents,
        date of birth and home address are never selected by the query, so there is nothing to
        leak. Anything more sensitive goes through the profile endpoint, which applies
        , a data-scope check and field-level permissions.

        Results are weighted so a name match outranks an employee-code match, which outranks an
        email match. Exited and not-yet-joined employees are excluded.
      operationId: searchDirectory
      parameters:
        - name: query
          in: query
          description: Free text. Tolerates whatever a person types — unbalanced quotes and stray operators do not produce an error.
          schema: { type: string }
        - name: departmentId
          in: query
          schema: { type: string, format: uuid }
        - name: locationId
          in: query
          schema: { type: string, format: uuid }
        - name: cursor
          in: query
          description: Opaque cursor from a previous response.
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        '200':
          description: Matching colleagues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryPage'

  /v1/directory/employees/{id}/reports:
    get:
      tags: [Directory]
      summary: Direct reports of an employee
      description: |
        One level only. The org chart expands a branch at a time rather than fetching an entire
        subtree, which keeps the payload small for a deep organisation and matches how the screen
        is actually used.
      operationId: listDirectReports
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Direct reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectoryEntry'

  /v1/reference:
    get:
      tags: [Reference]
      summary: Several reference taxonomies in one call
      description: |
        The mobile clients sync these as a unit and cache them indefinitely — they change perhaps
        twice a year. Serving them individually would mean four round trips to render one form,
        which is the chattiness that makes an app feel slow regardless of how fast each call is.
      operationId: listReferenceData
      parameters:
        - name: tables
          in: query
          description: Kebab-case taxonomy names, e.g. `blood-group`. Omit to fetch all of them.
          schema:
            type: array
            items: { type: string }
          style: form
          explode: false
      responses:
        '200':
          description: Taxonomy name to its items
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/ReferenceItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/reference/{table}:
    get:
      tags: [Reference]
      summary: One reference taxonomy
      description: Kebab-case taxonomy name, e.g. `employee-category`.
      operationId: listReferenceTable
      parameters:
        - name: table
          in: path
          required: true
          schema: { type: string }
        - name: includeInactive
          in: query
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReferenceItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/forms/{entityType}:
    get:
      tags: [Forms]
      summary: The form schema for an entity type
      description: |
        Describes a form well enough for a client to render it without knowing what the fields
        are — so a tenant can add a field in the admin console and have it appear on Android and
        iOS on the next sync. No code change, no app release, no store review.

        The schema covers the **whole** form: built-in and tenant-defined fields together, in one
        ordered list of sections. The alternative — a hardcoded form with a custom-fields lump at
        the bottom — cannot interleave a tenant's field with the built-in one it relates to, and
        puts a customer's mandatory field below the save button.

        **Permissions are already applied.** Fields the caller may not see are absent, not
        flagged; fields they may see but not change arrive with `editable: false`. The client does
        not filter, and cannot leak what it never received.

        Clients cache by `version` and re-render only when it changes. The version is a hash of
        the definitions, not a timestamp, so two servers behind a load balancer agree.
      operationId: getFormSchema
      parameters:
        - name: entityType
          in: path
          required: true
          schema:
            type: string
            enum: [employee, company, location, department, designation]
        - name: Accept-Language
          in: header
          required: false
          description: First language tag wins. Labels fall back through region, then English, then the field key.
          schema: { type: string }
      responses:
        '200':
          description: Form schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSchema'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/employees/me:
    get:
      tags: [Employees]
      summary: The caller's own employee profile
      description: |
        A separate path from `/v1/employees/{id}` rather than making the client substitute its own
        id: the app opens this on launch, before it necessarily knows the employee id.

        Returns `404 NO_EMPLOYEE_RECORD` for a user account that is not linked to an employee —
        a platform operator or an integration credential.
      operationId: getOwnEmployeeProfile
      responses:
        '200':
          description: Profile, filtered to the fields the caller may see
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeProfile'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/employees/{id}:
    get:
      tags: [Employees]
      summary: An employee profile
      description: |
        Two independent checks decide what comes back.

        **Whether you see the record at all.** Your own record always; anyone's with
        `employee.view.all` or `employee.manage`; your reporting line — at any depth — with
        `employee.view`. Otherwise `404`, deliberately not `403`: a `403` confirms the record
        exists, which turns this endpoint into an oracle for enumerating employee ids.

        **Which of its fields.** Applied server-side. A field you may not see is **absent from the
        payload**, not null — a null would tell you the field exists and you are not allowed it,
        and would have clients rendering disabled inputs for values they should not know about.
        A masked field arrives redacted, and the true value never leaves the server.

        Sensitive fields — date of birth, home address, personal email, salary grade — are hidden
        by default and require an explicit grant, **including** for callers who hold
        `employee.manage`. Maintaining records and handling identity documents are separable
        duties. Your own sensitive fields are always readable to you.
      operationId: getEmployeeProfile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Profile, filtered to the fields the caller may see
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeProfile'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Employees]
      summary: Update an employee profile
      description: |
        PATCH rather than PUT because the caller may not be able to read every field. A PUT means
        "here is the whole record", which someone who cannot see the sensitive half is not in a
        position to send — they would have to echo back fields they never received, and the ones
        they omitted would be cleared.

        A field the caller may not write is rejected with `403 FIELD_NOT_WRITABLE`, never silently
        dropped: a save that appears to succeed and quietly discards a change is worse than a
        refusal. Nothing is applied unless everything validates.

        Writing is never the default. Without `employee.manage` you may change only your own
        contact details, preferred name and photo — not your name, date of birth or join date,
        which appear on statutory filings and change by request with evidence.

        Send `If-Match` with the `version` you last read to avoid overwriting a concurrent edit.
      operationId: updateEmployeeProfile
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: If-Match
          in: header
          required: false
          description: |
            The `version` from the profile you loaded, as a weak ETag. Omitted, the update is
            last-write-wins — two HR officers editing the same profile is common enough that
            omitting it loses one of them silently.
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeUpdate'
      responses:
        '200':
          description: The updated profile, filtered as on read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /v1/employees/{id}/form:
    get:
      tags: [Employees]
      summary: The edit form for one employee, with permissions applied
      description: |
        The same schema as `/v1/forms/employee`, narrowed to this caller and this record: fields
        they may not see are absent, and fields they may see but not change arrive with
        `editable: false`.

        Built from the same permission context as the payload and the update path, so what the
        client is offered and what the server will accept cannot drift apart. Deriving the form
        separately is how you end up with an input that saves nothing.
      operationId: getEmployeeEditForm
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: Accept-Language
          in: header
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Form schema for this caller and record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSchema'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/me:
    get:
      tags: [Me]
      summary: The authenticated user's identity, permissions and enabled modules
      description: |
        Called on every cold start. Drives the navigation shell, so it returns enabled modules and
        effective permissions together — the client should never have to assemble that from
        several calls before it can render.
      operationId: getMe
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'

  /v1/me/notification-settings:
    get:
      tags: [Me]
      summary: The authenticated user's notification preferences and quiet hours
      description: |
        Only settings that differ from the default are stored, so an empty `preferences` list means
        the user has expressed no opinion rather than that everything is off. Clients render the
        defaults for anything absent: in-app, push and email on, SMS off.
      operationId: getNotificationSettings
      responses:
        '200':
          description: Current settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
    put:
      tags: [Me]
      summary: Replace the authenticated user's notification settings
      description: |
        A full replace, not a patch. The settings screen holds the whole set on screen, so sending
        only what changed means a switch flicked twice has to be tracked as unchanged — and a
        client that gets that wrong silently drops an edit.

        The entire request is validated before anything is written, so a bad entry in a long list
        cannot leave half of it saved.
      operationId: replaceNotificationSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: The settings as stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/dashboard:
    get:
      tags: [Dashboard]
      summary: Role-adaptive composite dashboard
      description: |
        Returns aggregated KPIs, widgets, and quick actions dynamically tailored to the authenticated
        user's roles and permissions. Cached with short TTL for maximum responsiveness.
      operationId: getDashboard
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/mobile/home:
    get:
      tags: [Mobile]
      summary: Mobile home screen composite
      description: |
        Single-trip composite endpoint delivering role-based dashboard cards, pending approval counts
        with counted entity identities for offline outbox reconciliation, company announcements,
        and milestone reminders.
      operationId: getMobileHome
      responses:
        '200':
          description: Home composite payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileHomeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/me/today:
    get:
      tags: [Attendance]
      summary: Today's attendance status and shift rules for authenticated employee
      description: |
        Returns the caller's active shift schedule for today, morning check-in grace limits,
        current punch status, punch timeline, and branch geofence boundary coordinates.
      operationId: getMyTodayAttendance
      responses:
        '200':
          description: Today's attendance status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodayAttendanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/punches:
    post:
      tags: [Attendance]
      summary: Ingest a clock punch from mobile or biometric source
      description: |
        Records a clock-in, clock-out, or break punch. Accepts single-use Idempotency-Key header
        for reliable offline outbox retry. Evaluates branch geofence radius and flags mock GPS providers.
      operationId: ingestAttendancePunch
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendancePunchRequest'
      responses:
        '201':
          description: Punch recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendancePunchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [Attendance]
      summary: List raw clock punches with filters
      description: Retrieves raw punch logs across tenant filtered by date, employee, source, or anomaly flag.
      operationId: listPunches
      parameters:
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: employeeId
          in: query
          required: false
          schema: { type: string, format: uuid }
        - name: flag
          in: query
          required: false
          schema: { type: string }
        - name: source
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Raw punch list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawPunchListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/me/roster:
    get:
      tags: [Attendance]
      summary: Shift roster schedule for authenticated employee
      description: |
        Returns the caller's rostered work shifts, rest days, and holidays across a date window.
      operationId: getMyShiftRoster
      parameters:
        - name: startDate
          in: query
          required: false
          schema: { type: string, format: date }
        - name: endDate
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        '200':
          description: Shift roster schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftRosterResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/team/coverage:
    get:
      tags: [Attendance]
      summary: Team shift coverage for a selected work date
      description: |
        Returns scheduled and active team members on a specified date with shift codes, roles, and duty status.
      operationId: getTeamShiftCoverage
      parameters:
        - name: date
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Team coverage roster
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamCoverageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/roster/swap-request:
    post:
      tags: [Attendance]
      summary: Submit a shift swap request
      description: |
        Initiates a shift swap request with another team member. Supports Idempotency-Key for offline outbox sync.
      operationId: requestShiftSwap
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShiftSwapRequest'
      responses:
        '200':
          description: Shift swap request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftSwapResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/me/regularise:
    post:
      tags: [Attendance]
      summary: Request attendance punch regularisation
      description: |
        Submits an attendance adjustment/regularisation request for missed punches to manager approval inbox.
      operationId: requestAttendanceRegularisation
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttendanceRegulariseRequest'
      responses:
        '200':
          description: Regularisation request submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendanceRegulariseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/shifts:
    get:
      tags: [Attendance]
      summary: List configured work shifts
      description: Retrieves active work shift templates with timing and grace rules.
      operationId: listShifts
      responses:
        '200':
          description: Shift template list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/roster:
    get:
      tags: [Attendance]
      summary: Retrieve workforce shift roster matrix
      description: Retrieves roster schedules and employee assignments across date range and departments.
      operationId: getRoster
      parameters:
        - name: startDate
          in: query
          required: false
          schema: { type: string, format: date }
        - name: endDate
          in: query
          required: false
          schema: { type: string, format: date }
        - name: department
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Roster schedule matrix
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RosterResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/shifts/assign:
    post:
      tags: [Attendance]
      summary: Assign or swap an employee shift
      description: Assigns a specific shift or marks a rest day for an employee on a work date.
      operationId: assignShift
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignShiftPayload'
      responses:
        '200':
          description: Shift assignment saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShiftScheduleItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/punches/ingest:
    post:
      tags: [Attendance]
      summary: Ingest punch via web admin
      description: Ingests a clock punch from administrator console with employee assignment.
      operationId: ingestPunchAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestPunchAdminPayload'
      responses:
        '201':
          description: Punch ingested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RawPunchAdmin'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/daily:
    get:
      tags: [Attendance]
      summary: List calculated daily attendance rollups
      description: Retrieves daily attendance calculations with worked hours, OT, and calculation traces.
      operationId: listDailyAttendance
      parameters:
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: department
          in: query
          required: false
          schema: { type: string }
        - name: status
          in: query
          required: false
          schema: { type: string }
        - name: anomaly
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Daily attendance records and summary metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyAttendanceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/daily/{id}:
    get:
      tags: [Attendance]
      summary: Get daily attendance record details with formula trace
      description: Retrieves a single daily attendance record including detailed calculation audit trace.
      operationId: getDailyAttendanceDetails
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Daily attendance detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyAttendanceAdmin'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/attendance/recompute:
    post:
      tags: [Attendance]
      summary: Recompute attendance calculations
      description: Triggers attendance pairing, OT tiering, and lateness penalties calculation for date or employee.
      operationId: recomputeAttendance
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecomputeAttendancePayload'
      responses:
        '200':
          description: Recomputation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecomputeAttendanceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/payroll-variable-summary:
    get:
      tags: [Attendance]
      summary: Retrieve variable payroll inputs summary
      description: Aggregates overtime hours, late deductions, and unpaid leave days for payroll period.
      operationId: getPayrollVariableSummary
      parameters:
        - name: payPeriodId
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Variable payroll summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttendancePayrollSummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/devices:
    get:
      tags: [Attendance]
      summary: List registered biometric hardware terminals
      description: Returns all biometric devices (ZKTeco, Hikvision, Suprema, Anviz) registered for this tenant.
      operationId: listBiometricDevices
      responses:
        '200':
          description: Biometric devices list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiometricDeviceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Attendance]
      summary: Register a new biometric attendance terminal
      description: Adds a physical time-clock device configuration to the tenant.
      operationId: createBiometricDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBiometricDevicePayload'
      responses:
        '201':
          description: Device registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiometricDeviceItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/devices/{id}:
    get:
      tags: [Attendance]
      summary: Get biometric terminal details
      description: Returns details of a registered biometric hardware device.
      operationId: getBiometricDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Biometric device details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiometricDeviceItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Attendance]
      summary: Update biometric terminal settings
      description: Modifies network, location, or direction settings for a biometric device.
      operationId: updateBiometricDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBiometricDevicePayload'
      responses:
        '200':
          description: Device updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiometricDeviceItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Attendance]
      summary: Delete biometric terminal
      description: De-registers a biometric hardware terminal from the tenant.
      operationId: deleteBiometricDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Device deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/attendance/devices/{id}/ping:
    post:
      tags: [Attendance]
      summary: Ping biometric terminal
      description: Tests connectivity and updates heartbeat for a registered biometric device.
      operationId: pingBiometricDevice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Device ping result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiometricDeviceItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/attendance/devices/sync:
    post:
      tags: [Attendance]
      summary: Batch ingest hardware biometric punches
      description: Ingests batches of punch transactions pushed from edge IoT controllers or biometric middleware.
      operationId: syncBatchBiometricPunches
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HardwarePunchBatchPayload'
      responses:
        '200':
          description: Batch ingestion results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwarePunchResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/devices/simulate-punch:
    post:
      tags: [Attendance]
      summary: Simulate a hardware biometric terminal punch
      description: Simulates an incoming biometric clock transaction for testing and manual validation.
      operationId: simulateBiometricHardwarePunch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HardwarePunchItem'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwarePunchResult'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/attendance/devices/live-stream:
    get:
      tags: [Attendance]
      summary: Live feed of biometric terminal punches
      description: Returns real-time stream of punches ingested from biometric devices with employee and location metadata.
      operationId: getBiometricLiveStream
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Live stream of punches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BiometricLiveStreamResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /iclock/cdata:
    get:
      tags: [Attendance]
      summary: ZKTeco ADMS terminal handshake
      description: Handles initial handshake and option negotiation for ZKTeco ADMS push protocol.
      operationId: zkTecoHandshake
      parameters:
        - name: SN
          in: query
          required: false
          schema: { type: string }
        - name: options
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: ZKTeco server configuration options
          content:
            text/plain:
              schema: { type: string }
    post:
      tags: [Attendance]
      summary: ZKTeco ADMS attendance log push
      description: Ingests raw attendance log transactions pushed by ZKTeco biometric terminals.
      operationId: zkTecoAttendanceLogPush
      parameters:
        - name: SN
          in: query
          required: false
          schema: { type: string }
        - name: table
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: false
        content:
          text/plain:
            schema: { type: string }
      responses:
        '200':
          description: Acknowledgment response (OK or OK count)
          content:
            text/plain:
              schema: { type: string }

  /iclock/getrequest:
    get:
      tags: [Attendance]
      summary: ZKTeco ADMS terminal heartbeat polling
      description: Periodic polling from ZKTeco terminal to check-in and retrieve pending commands.
      operationId: zkTecoGetRequest
      parameters:
        - name: SN
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Command delivery or OK
          content:
            text/plain:
              schema: { type: string }

  /iclock/devicecmd:
    post:
      tags: [Attendance]
      summary: ZKTeco ADMS device command acknowledgment
      description: Terminal feedback reporting execution status of previously dispatched commands.
      operationId: zkTecoDeviceCommandAck
      parameters:
        - name: SN
          in: query
          required: false
          schema: { type: string }
      requestBody:
        required: false
        content:
          text/plain:
            schema: { type: string }
      responses:
        '200':
          description: Acknowledgment response (OK)
          content:
            text/plain:
              schema: { type: string }

  /v1/approvals/pending:
    get:
      tags: [Approvals]
      summary: Pending approval inbox for the authenticated manager
      description: |
        Returns unified pending approvals across all modules (leave applications, attendance regularizations),
        including requester context, remaining leave balances, roster conflict warnings, and urgency indicators.
      operationId: listPendingApprovals
      responses:
        '200':
          description: Pending approvals list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingApprovalsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/approvals/{id}/decision:
    post:
      tags: [Approvals]
      summary: Record manager approval or rejection decision
      description: |
        Submits an approval or rejection decision on an item. Supports single-use Idempotency-Key
        for safe offline outbox retry. Returns 409 ALREADY_DECIDED if another approver acted first.
      operationId: decideApproval
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalDecisionRequest'
      responses:
        '200':
          description: Decision recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovalDecisionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/employees/me/documents:
    get:
      tags: [Employees]
      summary: Retrieve statutory and compliance documents for current employee
      description: |
        Returns active identity, statutory, and compliance documents belonging to the authenticated
        employee, including days remaining until expiry and compliance statuses.
      operationId: getOwnDocuments
      responses:
        '200':
          description: Employee documents retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmployeeDocumentItem'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/employees/me/documents/renew:
    post:
      tags: [Employees]
      summary: Submit renewal or replacement for a compliance document
      description: |
        Submits updated document particulars (new expiry date, document number, and optional attachment)
        and archives the previous document record as REPLACED.
      operationId: renewOwnDocument
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewDocumentRequest'
      responses:
        '200':
          description: Document renewed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewDocumentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /v1/leave/balances:
    get:
      tags: [Leave]
      summary: Retrieve current employee leave balances
      description: Returns active leave balances with entitled, accrued, taken, pending, and available days.
      operationId: getMyLeaveBalances
      responses:
        '200':
          description: Leave balances retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveBalancesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/leave/applications:
    get:
      tags: [Leave]
      summary: Retrieve employee leave applications
      description: Returns list of submitted leave requests for the authenticated employee.
      operationId: getMyLeaveApplications
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Leave applications retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveApplicationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Leave]
      summary: Submit a leave application
      description: Submits a new leave request and triggers the approval workflow.
      operationId: submitLeaveApplication
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveApplicationRequest'
      responses:
        '201':
          description: Leave application created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveApplicationItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/leave/eligibility:
    post:
      tags: [Leave]
      summary: Check leave application eligibility
      description: Pre-validates a requested date range, expands working days skipping weekends and holidays, and returns balance projection.
      operationId: checkLeaveEligibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveEligibilityRequest'
      responses:
        '200':
          description: Eligibility evaluated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveEligibilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/leave/applications/{id}/cancel:
    post:
      tags: [Leave]
      summary: Cancel a leave application
      description: Cancels a pending or approved leave application and restores ledger debits.
      operationId: cancelLeaveApplication
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelLeaveRequest'
      responses:
        '200':
          description: Application cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveApplicationItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/leave/ledger:
    get:
      tags: [Leave]
      summary: Retrieve leave ledger statement
      description: Retrieves the immutable audit ledger entries explaining balance movements.
      operationId: getMyLeaveLedger
      parameters:
        - name: leaveTypeId
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Leave ledger statement entries retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LeaveLedgerResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/leave/team-calendar:
    get:
      tags: [Leave]
      summary: Retrieve team leave calendar
      description: Retrieves daily absences and public holidays for a given month and year.
      operationId: getTeamCalendar
      parameters:
        - name: year
          in: query
          required: true
          schema: { type: integer }
        - name: month
          in: query
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Team leave calendar retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamCalendarResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/payroll/me/payslips:
    get:
      tags: [Payroll]
      summary: Retrieve employee payslip history
      description: Retrieves finalized payslips for the authenticated employee.
      operationId: getMyPayslips
      responses:
        '200':
          description: List of employee payslips retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/payroll/me/payslips/{id}:
    get:
      tags: [Payroll]
      summary: Retrieve detailed payslip with calculation traces
      description: Retrieves the detailed payslip breakdown, bank info, and formula traces.
      operationId: getPayslipDetails
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Detailed payslip retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/me/payslips/{id}/comparison:
    get:
      tags: [Payroll]
      summary: Retrieve Month-over-Month payslip comparison
      description: Compares the payslip with the immediate prior period.
      operationId: getPayslipComparison
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Payslip comparison retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipComparisonResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/pay-groups:
    get:
      tags: [Payroll]
      summary: List pay groups
      description: Retrieves configured payroll calculation groups with frequency and currency rules.
      operationId: listPayGroups
      responses:
        '200':
          description: List of pay groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayGroupsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/payroll/pay-periods:
    get:
      tags: [Payroll]
      summary: List pay periods
      description: Retrieves pay periods optionally filtered by pay group identifier.
      operationId: listPayPeriods
      parameters:
        - name: payGroupId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of pay periods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayPeriodsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/payroll/runs:
    get:
      tags: [Payroll]
      summary: List payroll runs
      description: Retrieves payroll calculation runs filtered optionally by pay period identifier.
      operationId: listPayrollRuns
      parameters:
        - name: payPeriodId
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of payroll runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/payroll/runs/{id}:
    get:
      tags: [Payroll]
      summary: Get payroll run by ID
      description: Retrieves status and summary totals for a specific payroll calculation run.
      operationId: getPayrollRunById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payroll run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/calculate:
    post:
      tags: [Payroll]
      summary: Calculate payroll run
      description: Initiates a gross-to-net calculation batch for a pay group and period.
      operationId: calculatePayrollRun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatePayrollRequest'
      responses:
        '200':
          description: Calculation initiated or completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunItem'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/payroll/runs/{id}/approve:
    post:
      tags: [Payroll]
      summary: Approve payroll run
      description: Approves a calculated payroll run for commitment and bank file generation.
      operationId: approvePayrollRun
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payroll run approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/{id}/reject:
    post:
      tags: [Payroll]
      summary: Reject payroll run
      description: Rejects a payroll run back to draft status for recalculation.
      operationId: rejectPayrollRun
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payroll run rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/{id}/commit:
    post:
      tags: [Payroll]
      summary: Commit payroll run
      description: Finalizes and locks a payroll run, generating immutable payslip snapshots.
      operationId: commitPayrollRun
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payroll run committed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollRunItem'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/{id}/results:
    get:
      tags: [Payroll]
      summary: List payroll run results
      description: Retrieves employee-level gross, tax, statutory, and net salary results for a run.
      operationId: listPayrollResults
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of payroll results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollResultsResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/{id}/results/{resultId}:
    get:
      tags: [Payroll]
      summary: Get employee payroll result details
      description: Retrieves itemized earnings, deductions, and calculation traces for an employee result.
      operationId: getPayrollResultDetails
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: resultId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detailed payroll result with item lines
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollResultDetailResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/{id}/variance:
    get:
      tags: [Payroll]
      summary: Get payroll run variance
      description: Computes period-over-period variance anomalies and headcount differences.
      operationId: getPayrollVariance
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payroll variance breakdown and flagged anomalies
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayrollVarianceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/payroll/runs/{id}/bank-advice:
    post:
      tags: [Payroll]
      summary: Generate bank advice file
      description: Exports direct deposit batch instructions in standard CSV or NACHA bank formats.
      operationId: generateBankAdvice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAdviceRequest'
      responses:
        '200':
          description: Generated bank advice payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAdviceResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/loans/types:
    get:
      tags: [Loans]
      summary: Retrieve company loan types and entitlement policies
      description: Returns active loan programs (e.g. Festival Advance, Distress Loan, Vehicle Loan) with tenure, interest rates, and eligibility rules.
      operationId: getLoanTypes
      responses:
        '200':
          description: Available loan types retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanTypesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/loans/me:
    get:
      tags: [Loans]
      summary: Retrieve employee active and historical loans
      description: Returns loans and salary advances for the authenticated employee with remaining balances and repayment progress.
      operationId: getMyLoans
      responses:
        '200':
          description: Employee loans retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeLoansResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/loans/me/{id}:
    get:
      tags: [Loans]
      summary: Retrieve detailed loan particulars and amortization repayment schedule
      description: Returns loan details with installment-by-installment schedule, principal/interest breakdown, and deduction statuses.
      operationId: getMyLoanDetails
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Loan details with amortization schedule retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeLoanDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/loans/eligibility:
    post:
      tags: [Loans]
      summary: Pre-check loan eligibility and calculate projected installments
      description: Evaluates requested principal and tenure against employee tenure, basic salary multiples, and debt limits, returning instant pass/fail with EMI preview.
      operationId: checkLoanEligibility
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanEligibilityRequest'
      responses:
        '200':
          description: Eligibility evaluated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanEligibilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/loans/applications:
    post:
      tags: [Loans]
      summary: Submit a loan or salary advance application
      description: Submits loan request, generates amortization schedule, and initiates approval workflow.
      operationId: submitLoanApplication
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanApplicationRequest'
      responses:
        '201':
          description: Loan application submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeLoanItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/loans/me/{id}/settle:
    post:
      tags: [Loans]
      summary: Request early settlement of an active loan
      description: Calculates early payoff amount, waives future unaccrued interest if applicable, and marks remaining installments settled.
      operationId: requestLoanSettlement
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoanSettlementRequest'
      responses:
        '200':
          description: Early settlement processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanSettlementResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/expenses/categories:
    get:
      tags: [Expenses]
      summary: Retrieve company expense categories and policy limits
      description: Returns all active expense categories with per-claim spending limits, receipt requirements, and per-unit rates.
      operationId: getExpenseCategories
      responses:
        '200':
          description: Expense categories retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseCategoriesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/expenses/claims:
    get:
      tags: [Expenses]
      summary: Retrieve employee expense claims
      description: Returns expense reimbursement claims submitted by the current authenticated employee with summary metrics.
      operationId: getMyExpenseClaims
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Expense claims retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseClaimsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Expenses]
      summary: Submit a new multi-line expense claim
      description: Submits an expense claim with itemized receipts and lines for manager/finance approval.
      operationId: submitExpenseClaim
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseClaimSubmitRequest'
      responses:
        '201':
          description: Expense claim submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseClaimDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/expenses/claims/{id}:
    get:
      tags: [Expenses]
      summary: Retrieve expense claim details with itemized lines
      description: Returns full particulars, itemized claim lines, receipt attachments, and approval metadata.
      operationId: getMyExpenseClaimDetails
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Expense claim details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseClaimDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/expenses/claims/{id}/cancel:
    post:
      tags: [Expenses]
      summary: Cancel or withdraw a pending expense claim
      description: Withdraws a submitted or draft expense claim that has not yet been approved or reimbursed.
      operationId: cancelExpenseClaim
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelExpenseClaimRequest'
      responses:
        '200':
          description: Expense claim cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseClaimItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/expenses/ocr:
    post:
      tags: [Expenses]
      summary: Parse receipt image or text using OCR
      description: Extracts merchant name, transaction date, total amount, and suggested category from a receipt payload.
      operationId: scanReceiptOcr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiptOcrRequest'
      responses:
        '200':
          description: Receipt fields successfully extracted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReceiptOcrResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/benefits/catalogue:
    get:
      tags: [Benefits]
      summary: Retrieve company benefit catalogue and eligibility
      description: Returns available benefit categories and policies, evaluating employee eligibility and returning reasons if ineligible.
      operationId: getBenefitCatalogue
      responses:
        '200':
          description: Available benefit catalogue retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitCatalogueResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/benefits/my-benefits:
    get:
      tags: [Benefits]
      summary: Retrieve active benefit enrollments and remaining balances
      description: Returns current employee benefit enrollments with annual entitlement, used amounts, pending claims, and registered dependents.
      operationId: getMyBenefits
      responses:
        '200':
          description: Employee benefit enrollments retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MyBenefitsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/benefits/claims:
    get:
      tags: [Benefits]
      summary: Retrieve employee benefit claims history
      description: Returns all submitted, approved, and reimbursed benefit claims for the authenticated employee.
      operationId: getMyBenefitClaims
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Benefit claims retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitClaimsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Benefits]
      summary: Submit a medical or flexible benefit reimbursement claim
      description: Submits a benefit reimbursement claim against an active enrollment policy with receipt attachment.
      operationId: submitBenefitClaim
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BenefitClaimSubmitRequest'
      responses:
        '201':
          description: Benefit claim submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitClaimItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/benefits/claims/{id}/cancel:
    post:
      tags: [Benefits]
      summary: Cancel or withdraw a pending benefit claim
      description: Cancels a submitted benefit claim before approval or payment.
      operationId: cancelBenefitClaim
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBenefitClaimRequest'
      responses:
        '200':
          description: Benefit claim cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BenefitClaimItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/lifecycle/movements:
    get:
      tags: [Lifecycle]
      summary: List employee career movements
      description: Returns filterable career movements including promotions, lateral transfers, and probation confirmations.
      operationId: getCareerMovements
      parameters:
        - name: employeeId
          in: query
          required: false
          schema: { type: string, format: uuid }
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [DRAFT, SUBMITTED, APPROVED, SCHEDULED, APPLIED, REJECTED, CANCELLED, REVERTED] }
        - name: type
          in: query
          required: false
          schema: { type: string, enum: [PROMOTION, LATERAL_TRANSFER, DEMOTION, CONFIRMATION, SALARY_REVISION, DESIGNATION_CHANGE, SECONDMENT] }
      responses:
        '200':
          description: List of career movements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerMovementListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Lifecycle]
      summary: Propose a career movement
      description: Initiates a new promotion, lateral transfer, confirmation, or salary revision request.
      operationId: proposeCareerMovement
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareerMovementProposalRequest'
      responses:
        '201':
          description: Career movement proposed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerMovementItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/lifecycle/movements/timeline:
    get:
      tags: [Lifecycle]
      summary: Get interactive career timeline
      description: Returns chronological career milestones including hire, probation confirmation, promotions, and transfers for the employee.
      operationId: getCareerTimeline
      parameters:
        - name: employeeId
          in: query
          required: false
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Career journey timeline milestones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerTimelineResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/lifecycle/movements/{id}:
    get:
      tags: [Lifecycle]
      summary: Get career movement details
      description: Returns full particulars, previous vs proposed snapshot, and cascade audit summary.
      operationId: getCareerMovementById
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Movement details retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerMovementItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/lifecycle/movements/{id}/approve:
    post:
      tags: [Lifecycle]
      summary: Approve career movement and trigger cascade
      description: Approves the career movement and executes the transactional cascade (or schedules it for effective date).
      operationId: approveCareerMovement
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Career movement approved and cascade executed or scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerMovementItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/lifecycle/movements/{id}/revert:
    post:
      tags: [Lifecycle]
      summary: Revert an approved or applied career movement
      description: Restores prior employee master fields and rolls back salary records.
      operationId: revertCareerMovement
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CareerMovementRevertRequest'
      responses:
        '200':
          description: Career movement reverted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareerMovementItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/grievance/grounds:
    get:
      tags: [Grievance]
      summary: List grievance ground groups and grounds
      description: Returns all configured grievance categories, grounds with SLA resolution days, severity, and default handler roles.
      operationId: getGrievanceGrounds
      responses:
        '200':
          description: Grievance grounds catalogue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrievanceGroundsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/grievance/channels:
    get:
      tags: [Grievance]
      summary: List grievance submission channels
      description: Returns available channels (Direct Portal, Anonymous Hotline, Ombudsman, Union).
      operationId: getGrievanceChannels
      responses:
        '200':
          description: Grievance channels list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrievanceChannelsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/grievance/my-grievances:
    get:
      tags: [Grievance]
      summary: List grievances for authenticated employee
      description: Returns active and past grievances filed by or involving the employee.
      operationId: getMyGrievances
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Employee grievances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrievanceListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/grievance/{id}:
    get:
      tags: [Grievance]
      summary: Get grievance particulars and resolution
      description: Returns detailed grievance status, SLA tracking, investigation findings, and appeal.
      operationId: getGrievanceById
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Grievance details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrievanceDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/grievance:
    post:
      tags: [Grievance]
      summary: Submit a new grievance or whistleblowing report
      description: Submits a grievance with confidential handling and optional anonymous whistleblowing flag.
      operationId: submitGrievance
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrievanceSubmitRequest'
      responses:
        '201':
          description: Grievance submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrievanceDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/grievance/{id}/appeal:
    post:
      tags: [Grievance]
      summary: Appeal a resolved grievance
      description: Lodges a formal appeal against a grievance resolution.
      operationId: appealGrievance
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrievanceAppealRequest'
      responses:
        '200':
          description: Appeal submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrievanceDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
[...]
